<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.hotfix">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".ApplicationContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="amigo_app_id"
            android:value="a28765c2fc543447"/>

        <meta-data
            android:name="amigo_layout"
            android:value="activity_loading"/>
        <meta-data
            android:name="amigo_theme"
            android:value="amigoThemeDemo"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
